/*
	This is required for footer to work
*/
html {
	position: relative;
	min-height: 100%;
}

/*
	footer's position is absolute, hence we need a negative margin
*/
body {
	font-family: "Lato", sans-serif;
	margin-bottom: 36px;
}

#ntubs-body > .row:last-child {
	margin-bottom: 40px;
}

/*
	Negate Bootstrap padding-left-right 15px
*/
.col-condensed > [class*="col-"] {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

/*
	Force all cols equal in height
	http://stackoverflow.com/a/19695851
*/
.col-equal {
	overflow: hidden !important;
} .col-equal > [class*="col-"] {
	margin-bottom: -9999px;
	padding-bottom: 9999px;
}

/*
	Fixed navigation bar
*/
#ntubs-nav {
	border: 0;
	min-height: 45px;
	max-height: 45px;
	height: 45px;
	margin: 0;
}

#ntubs-navbar {
	min-height: 40px;
	max-height: 40px;
	height: 40px;
	border-bottom: 3px solid #948a7a;
	background: #797062;
	box-sizing: content-box;
}

#ntubs-navbar-content {
	max-width: 1024px;
	margin: 0 auto;
}

/*
	Navigation button group
*/
#ntubs-navbar-btn-group .btn {
	border-radius: 0;
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	/*border-top: 0;
	border-bottom: 0;
	border-right: 0;
	border-left: 2px solid #948a7a;*/
	border: 0;
	font-weight: 400;
	color: #fff;
	background: none;
	margin: 0;
}

#ntubs-navbar-btn-group .btn:hover {
	background-color: #aaa397;
}

#ntubs-logo {
	display: inline-block;
}

#ntubs-navbar-btn-group .nav-btn-selected {
	background-color: #948a7a;
}

/*
	Navigation dropdown
*/
#ntubs-navbar-dropdown {
	display: none;
}

#ntubs-navbar-dropdown button {
	margin: 5px 0;
	padding: 0 20px;
	line-height: 30px;
	height: 30px;
}

#ntubs-navbar-dropdown button, #ntubs-navbar-dropdown a, ul.dropdown-menu, #ntubs-dropdown-menu a, #ntubs-dropdown-menu button {
	color: #fff;
	background: #797062;
	font-size: 16px;
}
#ntubs-navbar-dropdown button:hover, #ntubs-navbar-dropdown a:hover, #ntubs-dropdown-menu a:hover, #ntubs-dropdown-menu button:hover {
	color: #fff;
	background: #aaa397;
	font-size: 16px;
}

@media only screen and (max-width: 799px) {
	#ntubs-navbar-btn-group{
		display: none;
	}

	#ntubs-navbar-dropdown{
		display: block;
	}
}

#ntubs-subnav {
	margin-top: 45px;
	margin-bottom: 0px;
	border-radius: 0px;
	border: 0;
}

#ntubs-banner {
	max-width: 1024px;
	margin: 0 auto;
}

#ntubs-grass {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('../img/grass.png');
	background-position: center bottom;
	background-repeat: repeat-x;
}

#ntubs-subnav-btn-container {
	max-width: 1024px;
	margin: 0 auto;
	min-height: 35px;
}

.ntubs-subnav-btn.btn {
	display: none;
	font-size: 20px;
	color: #fff;
	height: 35px;
	line-height: 35px;
	padding: 0 20px;
	border-radius: 0;
	border: 0;
	background: none;
	margin: 0;
	vertical-align: top;
}

.ntubs-subnav-btn.btn-selected {
	height: 50px !important;
	margin-bottom: -15px;
	background: transparent url("../img/triangle.png") no-repeat center bottom;
}

#ntubs-subnav-dropdown {
	display: inline-block;
}

#ntubs-subnav-dropdown > * {
	margin-left: 5px;
}

#ntubs-subnav-dropdown > .btn {
	background: none;
	color: #fff;
	padding: 0 12px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #ccc;
	background-color: #797062;
}

#ntubs-subnav-dropdown > .btn:hover {
	background-color: #948a7a;
}

#ntubs-subnav-img-xs{
	display: none;
}

@media only screen and (max-width: 450px) {
	#ntubs-subnav-img {
		display: none;
	}

	#ntubs-subnav-img-xs {
		display: block;
	}

	#ntubs-grass {
		background-image: url("../img/thin grass.png");
		background-position: center bottom;
	}

	#ntubs-subnav-dropdown {
		margin-top: 5px;
	}
}

#ntubs-body {
	margin-top: 0px;
	max-width: 1024px;
}

/*
 * Footer tag
 */

footer {
	width: 100%;
	/* margin: 15px auto 0px; */
	background-color: #797062;
	font-size: 1em;
	color: #FFF;
	text-align: center;
	padding: 8px 0px;

	position: absolute;
	bottom: 0;
	height: 36px;
}

/*
 * This part contains the modification of Bootstrap's carousel
 */

#ntubs-slides {
	background-color: #fff;
	margin-bottom: 20px;
}

#ntubs-slides div[class*="item"] > img {
	margin: 0 auto;
	width: 100%;
}

#ntubs-slides > ol {
	bottom: -20px;
	margin-bottom: 0;
}

#ntubs-slides > ol > li {
	border-color: #62493D;
	background-color: #62493D;
}

#ntubs-slides > ol > li[class*="active"] {
	border-color: #E09402;
	background-color: #E09402;
}

/*
 * This part onward contains the CSS for image button in Upcoming Events section found in home.php
 */

/*
	A clever workaround for :link, :hover, :active, :visited
	http://stackoverflow.com/questions/3950322/how-to-select-all-a-pseudo-classes-in-css
*/
#ntubs-body .link-img {
	display: block;
	color: #000;
	text-decoration: none;
}

#ntubs-body .link-img > .link-img-holder {
	position: relative;
	margin-bottom: 20px;
}

#ntubs-body .link-img > .link-img-holder > .link-img-popup {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0);
	transition: background-color 0.5s;
}

#ntubs-body .link-img > .link-img-holder > .link-img-popup > button {
	display: none;
	
	/*
		Reset button's property
	*/
	outline: none;
	border: none;
	margin: 0;
	padding: 0;
	background: none;
}

#ntubs-body .link-img > .link-img-holder:hover > .link-img-popup {
	display: block;
	background-color: rgba(0, 0, 0, 0.25);
}

#ntubs-body .link-img > .link-img-holder:hover > .link-img-popup > button {
	display: block;
	box-sizing: border-box;

	color: #fff;
	border-bottom: 3px solid #C88401;
	border-top: 3px solid #F6A201;
	border-left: 3px solid #F6A201;
	border-right: 3px solid #C88401;

	background-color: #E09402;
	margin: 0 auto;
	padding: 0 auto;

	width: 120px;
	height: 35px;
	line-height: 29px;
	margin-top: -17px;
	margin-left: -60px;

	position: absolute;
	top: 50%;
	left: 50%;
}

#ntubs-body .link-img > .link-img-title {
	/* padding: 0 5px; */
	margin-bottom: 20px;
	font-size: 1.5em;
	text-align: center;
}

#ntubs-body .link-img > .link-img-desc {
	/* padding: 0 5px 5px; */
}

#ntubs-body .link-img > .link-img-holder > img {
	padding: 5px;
	background-color: #fff;
	border: none;
	border-radius: 2px;
	box-shadow: 0px 0px 5px #ccc;
}

/*
 * This is the end of image button part in the Upcoming Events section in home.php
 */

 /*
 	Add border-bottom to any element
 */
.border-bottom {
	border-bottom: 1px solid #6B3B25;
}

/*
	Society > Advisor and Patron
*/
#advisor-table {
	border: 1px solid #000;
	border-collapse: separate;
	border-spacing: 2px;
}

#advisor-table td:first-child {
	background-color: #797062;
	color: #fff;
}

#advisor-table td {
	border: 1px solid #000;
}

#event-list-container > div[class*="col-"] {
	padding-bottom:75px;
}

@media screen and (min-width: 768px) {
	#event-list-container > div[class*="col-"] {
		padding-bottom: 0;
	}

	.ntubs-subnav-btn.btn {
		display: inline-block;
	}

	#ntubs-subnav-dropdown {
		display: none;
	}

	#ntubs-body {
		margin-top: 20px;
	}

	#ntubs-subnav {
		margin-bottom: 20px;
	}

	#recent-post {
		margin-bottom: 0;
	}
}

#recent-post {
	margin-bottom: 75px;
}
