body{
	font-family: "Myriad Pro", "Helvetica", "Verdana", sans-serif;
}

/*
	Negate Bootstrap padding-left-right 15px
*/
.col-condensed > [class^="col-"]{
	padding-left: 0 !important;
	padding-right: 0 !important;
}

/*
	Fixed navigation bar
*/
#_nav-ntubs{
	min-height: 40px;
	max-height: 40px;
	height: 40px;
	/*padding-bottom: 2px;*/
	border-bottom: 3px solid #948a7a;
	background: #797062;
	/*background-image: url("../img/navi.png");
	background-repeat: repeat-x;*/
	box-sizing: content-box;
}

#_nav-ntubs > .container-fluid{
	max-width: 954px;
	padding: 0 30px;
}

/*
	Navigation button group
*/
#_nav-btn-group .btn{
	border-radius: 0;
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	/*border-top: 0;
	border-bottom: 0;
	border-right: 0;
	border-left: 2px solid #948a7a;*/
	border: 0;
	font-weight: 400;
	color: #fff;
	background: none;
	margin: 0;
}
#_nav-btn-group .btn:hover {
	background-color: #aaa397;
}
/*
#_nav-btn-group :last-child{
	border-right: 2px solid #948a7a !important;
}*/

#_nav-btn-group .nav-btn-selected{
	background-color: #948a7a;
}

/*
	Navigation dropdown
*/
#_nav-dropdown{
	display: none;
}

#_nav-dropdown button{
	margin: 5px 0;
	padding: 0 20px;
	line-height: 30px;
	height: 30px;
}

#_nav-dropdown button, #_nav-dropdown a, ul.dropdown-menu, #_sub-dropdown a, #_sub-dropdown button {
	color: #fff;
	background: #797062;
	font-size: 16px;
}
#_nav-dropdown button:hover, #_nav-dropdown a:hover, #_sub-dropdown a:hover, #_sub-dropdown button:hover {
	color: #fff;
	background: #aaa397;
	font-size: 16px;
}

@media only screen and (max-width: 799px){
	#_nav-btn-group{
		display: none;
	}

	#_nav-dropdown{
		display: block;
	}
}

/*
	Sub
*/
#_sub{
	max-width: 1024px;
	margin-top: 45px;
}

#_sub-bg{
	position: absolute;
	width: 100%;
	left: 0;
	margin: -250px 0 0;
	padding: 0;
	height: 285px;
	background-image: url("../img/grass.png");
	background-position: center center;
	background-repeat: repeat-x;
}

#_sub-btn-holder{
	min-height: 35px;
}

#_sub-btn-group{
	margin-left: 15px;
	min-height: 35px;
	max-height: 50px;
	line-height: 35px;
}

#_sub-btn-group .btn{
	font-size: 20px;
	color: #fff;
	height: 35px;
	line-height: 35px;
	padding: 0 20px;
	border-radius: 0;
	border: 0;
	background: none;
	margin: 0;
	vertical-align: top;
}

#_sub-btn-group .btn-selected{
	height: 50px !important;
	background: transparent url("../img/triangle.png") no-repeat center bottom;
}

#_sub-btn-dropdown{
	display: none;
}

#_sub-btn-dropdown > *{
	margin-left: 5px;
}

#_sub-btn-dropdown > .btn{
	background: none;
	color: #fff;
	padding: 0 12px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #ccc;
	background-color: #797062;
}

#_sub-btn-dropdown > .btn:hover{
	background-color: #948a7a;
}

@media only screen and (max-width: 767px){
	#_sub-btn-group{
		display: none;
	}

	#_sub-btn-dropdown{
		display: inline-block;
	}
}

#_img-ntubs-xs{
	display: none;
}

@media only screen and (max-width: 450px){
	#_img-ntubs{
		display: none;
	}
	#_img-ntubs-xs{
		display: block;
	}
}

#_body{
	margin-top: 15px;
	max-width: 1024px;
}

footer {
	width: 100%;
	margin: 15px auto 0px;
	background-color: #797062;
	font-size: 1em;
	color: #FFF;
	text-align: center;
	padding: 8px 0px;
}