html {
	position: relative;
	min-height: 100%;
}

body {
	height: 100%;
	margin-bottom: 76px;
}

footer {
	display: block;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 36px;
	line-height: 36px;
	background-color: #797062;
	text-align: center;
	color: #fff;
}

.col-condensed > [class*="col-"] {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

#ntubs-nav {
	min-width: 1024px;
}

#login-banner {
	position: static;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;

	max-width: none;
}

#login-container {
	position: static;
	width: 100%;

	max-width: none;

	border: 1px #ccc solid;
	border-radius: 20px;
	padding: 10px;

	/*
		http://www.cssmatic.com/box-shadow
	*/
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.67);
	-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.67);
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.67);
}

#login-container label {
	text-align: right;
	padding-top: 7px;
	margin-bottom: 0;
}

@media screen and (min-width: 480px) {
	#login-container {
		width: 480px;
		max-width: 480px;
		position: absolute;
		top: calc(50% - 42px);
		left: calc(50% - 240px);

	}

	#login-banner {
		position: absolute;
		top: calc(50% - 160px);
		left: calc(50% - 240px);
		max-width: 480px;
		width: 100%;
		height: auto;
	}
}

#admin-panel-container {
	width: 1024px;
	margin: 0 auto;

	/*
		For compatibility with Bootstrap
	*/
	padding-left: 15px;
	padding-right: 15px;
}

@media screen and (max-width: 1024px) {
	#ntubs-banner {
		margin-left: -15px !important;
		margin-right: -15px !important;
	}
}

#ntubs-banner {
	width: 1024px;
	margin: 0 auto;
}

#ntubs-navbar {
	background-color: #797062;
	color: #fff;

	margin-top: -10px;
}

#ntubs-navbar-content {
	width: 1024px;
	margin: 0 auto;

	font-size: 12px;
	line-height: normal;

	padding-bottom: 10px;
}


#ntubs-navbar-content a,
#ntubs-navbar-content a:active,
#ntubs-navbar-content a:visited {
	color: #fc0;

	text-decoration: none;
}

#ntubs-navbar-content a:hover {
	color: #fc0;

	text-decoration: underline;
}

.table-head {
	background-color: #797062;
	color: #fff;
	padding: 5px;
	border-radius: 10px 10px 0 0;
}

.table-body {
	padding: 5px;
	border: 1px solid #797062;
	margin-bottom: 25px;
	border-radius: 0 0 10px 10px;
}

.table-body:last-child {
	margin-bottom: 0;
}

#ntubs-side-navi {
	margin: 0;
	padding-left: 0;
	list-style-type: none;
}

#ntubs-side-navi li:before {
	content: "\25CF";
}

#ntubs-side-navi li a,
#ntubs-side-navi li a:active,
#ntubs-side-navi li a:visited {
	color: #797062;
}

.table-body ul li a:hover {
	text-decoration: underline;
}

#create-event-btn {
	padding: 5px;
}

#create-event-btn:before {
	color: #0a0;
	content: "\2795  ";
	font-weight: bolder;
}

.event-title {
	padding-top: 5px;
	padding-bottom: 5px;
}

.edit-event-btn {
	padding: 5px;
}

.event-entry {
	margin-bottom: 10px;
}

.event-entry:last-child {
	margin-bottom: 0;
}

input[type="file"] {
	height: auto;
}

.noresize {
	resize: none;
}